@mixin latoFont {
  font-family: "Lato", sans-serif;
}

@mixin montserratFont {
  font-family: Montserrat, sans-serif;
}

@mixin list-reset {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

@mixin textReset {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-flex;
}

@mixin mediumScreen {
  @media screen and (max-width: 992px) and (min-width: 481px) {
    @content;
  }
}

@mixin smallScreen {
  @media screen and (max-width: 480px) and (min-width: 320px) {
    @content;
  }
}
